body {
	font-family: "Source Sans Pro", sans-serif;
	background: #100a1c;
	background-image:
		radial-gradient(50% 30% ellipse at center top, #201e40 0%, rgba(0, 0, 0, 0) 100%),
		radial-gradient(60% 50% ellipse at center bottom, #261226 0%, #100a1c 100%);
	background-attachment: fixed;
}

.wrapper {
	margin: 0 auto;
	max-width: 600px;
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.h1-title {
	margin: 0;
	text-align: center;
	color: #fff;
	font-weight: 700;
	margin-bottom: 40px;
}

.table {
	margin: 0 5px;
	border-spacing: 0.7em;
	border: 2px solid #fffacd;
	border-radius: 15px;
}

.tr-line {
	border: 2px solid #fffacd;
}

td {
	text-align: center;
	color: #6cacc5;
	background: rgba(42, 50, 113, .28);
	cursor: pointer;
	transition: all 0.5s;
	width: 80px;
	height: 60px;
	font-size: 24px;
	font-weight: bold;
}

td:hover {
	background: #201e40;
}

.none-td:hover,
.none-td {
	cursor: default;
	background: #fffacd;
}

.display-text {
	color: #20C20E;
	font-weight: 700;
	font-size: 24px;
	text-align-last: right;
	padding: 0 10px;
}

@media (min-width: 768px) {
	.table {
		margin: 0 auto;
		border-spacing: 1em;
	}

	td {
		width: 110px;
		height: 80px;
		font-size: 28px;
	}

	.display-text {
		font-size: 34px;
	}

	.h1-title {
		font-size: 36px;
	}
}
